* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    text-align: justify;
}

.titulo {
    width: 100%;
    height: 150px;
    background: rgb(113,190,159);
    background: linear-gradient(0deg, rgba(113,190,159,1) 15%, rgba(227,176,68,1) 50%, rgba(255,198,93,1) 85%);;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    justify-content: space-between;
}

.logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 25px;
    margin-right: 10px;
    margin-left: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 66px;
    padding-left: 66px;
    padding-right: 60px;
    background-color: #F0E2B5;
}

#encabezado h1 {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 550px;
    color: black;
    font-size: 45px;
}

#navegacion {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    background: rgb(113,190,159);
}

#navegacion ul {
    margin: 0;
    padding-bottom: 0;
    padding-top: 20px;
}

#navegacion ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
}

#navegacion ul li a {
    font-size: 15px;
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

#navegacion a:hover {
    background-color: #E4C048;
}

#cuerpo div img {
    display: flex;
    height: 350px;
    width: 250px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#cuerpo div p {
    margin-bottom: 20px;
    font-size: 20px;
}

#cuerpo div h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

#cuerpo-platos h2 {
    margin-bottom: 25px;
    font-size: 25px;
}

.img1 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
 }

 .img2 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
 }

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
}
 
h3 span {
    background-color: #71BE9F;
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    width: 30px;
    padding: 2px;
}

p {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-right: 30px;
}

.img3 {
    display: flex;
    height: 170px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img4 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.img5 {
    display: flex;
    height: 180px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img6 {
    display: flex;
    height: 160px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img7 {
    display: flex;
    height: 140px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img8 {
    display: flex;
    height: 170px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.img9 {
    display: flex;
    height: 170px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.img10 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: right;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#pie {
    width: 100%;
    height: 100px;
    background-color: #71BE9F;
    font-size: 18px;
    text-align: center;
    float: none;
    color: black;
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    padding-left: 43%;
}

@media only screen and (max-width: 1269px) {

    #encabezado h1 {
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 300px;
        color: black;
        font-size: 30px;
    }

}

@media only screen and (max-width: 959px) {

    #encabezado h1 {
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 300px;
        color: black;
        font-size: 20px;
    }

}

@media only screen and (max-width: 760px) {

    #encabezado {
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 10px;
        color: black;
        font-size: 20px;
    }

}

@media only screen and (max-width: 760px) {

    #encabezado {
        display: none;
    }

}

@media only screen and (max-width: 1032px) {
    
    #navegacion ul li {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #navegacion ul li a {
        font-size: 15px;
        display: block;
        color: black;
        padding: 20px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
    }
}