* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

#encabezado {
    width: 100%;
    height: 150px;
    background-image: url(../img/paraguana4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

#encabezado h1{
    margin: 0px;
    color: black;
    font-size: 70px;
    text-align: center;
}

#navegacion {
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: #71BE9F;
    height: 50px;
    width: 100%;
}

#navegacion a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 55px;
}

#navegacion a:hover {
    background-color: #E4C048;
}

#cuerpo div img {
    height: 400px;
}

#pie {
    width: 100%;
    height: 100px;
    background-color: #71BE9F;
    text-align: center;
    font-size: 18px;
    float: none;
    color: black;
}