* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  #encabezado {
      width: 100%;
      height: 250px;
      background-color: cadetblue;
  }

  #encabezado h1{
    display: flex;
    margin:0px;
    color: rgb(221, 154, 30);
    font-size: 40px;
    height: 20px;
}