* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

main {
    padding: 66px;
    background-color: #F0E2B5;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    min-width: auto;
}

#encabezado {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-width: 300px;
    width: 100%;
    height: 150px;
    background-image: url(../img/paraguana4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#encabezado h1{
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    font-size: 70px;
}

#navegacion {
    padding: 0px;
    margin: 0px;
    background-color: #71BE9F;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
}

#navegacion a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 55px;
}

#navegacion a:hover {
    background-color: #E4C048;
}

#cuerpo div img {
    display: flex;
    height: 350px;
    width: 35%;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#cuerpo div p {
    margin-bottom: 20px;
    font-size: 20px;
}

#cuerpo div h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

#cuerpo-platos h2 {
    margin-bottom: 25px;
    font-size: 25px;
}

.img1 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
 }

 .img2 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
 }

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
}
 
h3 span {
    background-color: #71BE9F;
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    width: 30px;
    padding: 2px;
}

p {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-right: 30px;
}

.img3 {
    display: flex;
    height: 170px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img4 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.img5 {
    display: flex;
    height: 180px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img6 {
    display: flex;
    height: 160px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img7 {
    display: flex;
    height: 140px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img8 {
    display: flex;
    height: 170px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.img9 {
    display: flex;
    height: 170px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.img10 {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: right;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#pie {
    width: 100%;
    height: 100px;
    background-color: #71BE9F;
    text-align: center;
    font-size: 18px;
    float: none;
    color: black;
}