* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

#encabezado {
    width: 100%;
    height: 200px;
    background-image: url(../img/fondocabecera.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

#encabezado h1{
    margin: 0px;
    color: black;
    font-size: 40px;
    text-align: center;
}

#encabezado img {
    display: flex;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#navegacion {
    background-color: cadetblue;
}

#pie {
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    text-align: center;
    font-size: 18px;
    float: none;
    color: black;
}